#aboutHero {
	height: 15em;
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right bottom,
		rgba(rgb(114, 20, 20), 0.8),
		rgba(rgb(24, 23, 70), 0.8)),
		url('/images/medAid.jpg');
}
