#contactHero {
	height: 15em;
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right bottom,
		rgba(rgb(114, 20, 20), 0.8),
		rgba(rgb(24, 23, 70), 0.8)),
		url('/images/CPR_training-05.jpg');
}
#policyHero {
	height: 15em;
	background-size: cover;
	background-position: bottom;
	background-image: linear-gradient(to right bottom,
		rgba(rgb(114, 20, 20), 0.7),
		rgba(rgb(24, 23, 70), 0.7)),
		url('/images/businessMeeting.jpg');
}
#sitemapHero {
	height: 15em;
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right bottom,
		rgba(rgb(114, 20, 20), 0.7),
		rgba(rgb(24, 23, 70), 0.7)),
		url('/images/blsAed.jpg');
}
#publicHero {
	height: 15em;
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right bottom,
		rgba(rgb(114, 20, 20), 0.8),
		rgba(rgb(24, 23, 70), 0.8)),
		url('/images/class.jpg');
}
