body {
	font-family: 'Poppins', sans-serif;
}
#heroHome {
	min-height: 70vh;
	background-size: cover;
	background-image: linear-gradient(to right bottom,
		rgba(#39a70e, 0.8),
		rgba(#2998ff, 0.8)),
		url('/images/CPR_training-06.jpg');
}
#headerHome {
	padding: .2em 2.4em;
}
#telOne:hover {
	color: grey !important;
}
#telTwo:hover {
	color: grey !important;
}
#comOne {
	background-size: cover;
	background-position: bottom;
	background-image: linear-gradient(to right bottom,
		rgba(rgb(161, 110, 15), 0.8),
		rgba(rgb(199, 47, 47), 0.8)),
		url('/images/businessMeeting.jpg');
}
#comTwo {
	background-size: cover;
	background-image: linear-gradient(to right bottom,
		rgba(rgb(236, 206, 31), 0.8),
		rgba(rgb(236, 206, 31), 0.8));
}
#comThree {
	background-size: cover;
	background-image: linear-gradient(to right bottom,
		rgba(rgb(62, 172, 40), 0.9),
		rgba(rgb(62, 172, 40), 0.9)),
		url('/images/classRoom.jpg');
}
#comFour {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right bottom,
		rgba(rgb(0, 0, 0), 0.7),
		rgba(rgb(0, 0, 0), 0.7)),
		url('/images/HMS_Dragon.jpg');
}
#compHero {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right bottom,
		rgba(rgb(114, 20, 20), 0.5),
		rgba(rgb(24, 23, 70), 0.5)),
		url('/images/Palace_of_Westminster.jpg');
}
#faawSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right top,
		rgba(rgb(78, 65, 65), 0.9),
		rgba(rgb(78, 65, 65), 0.9)),
		url('/images/faaw1.jpg');
}
#emergencyFaawSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to left bottom,
		rgba(rgb(53, 64, 109), 0.8),
		rgba(rgb(133, 42, 42), 0.8)),
		url('/images/faaw2.jpg');
}
#faawRequal {
	background-size: cover;
	background-position: bottom;
	background-image: linear-gradient(to right top,
		rgba(rgb(0, 56, 2), 0.8),
		rgba(rgb(0, 56, 2), 0.8)),
		url('/images/faaw3.jpg');
}
#complianceSpacer {
	background-size: cover;
	background-position: bottom;
	background-image: linear-gradient(to bottom,
		rgba(rgb(7, 7, 7), 0.9),
		rgba(rgb(196, 196, 196), 0.2)),
		url('/images/House_of_Commons_Chamber.png');
}
#paediatricSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right,
		rgba(rgb(131, 122, 45), 0.8),
		rgba(rgb(99, 4, 56), 0.8)),
		url('/images/paediatricFirstAid.jpg');
}
#emergencyPaediatricSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to left,
		rgba(rgb(41, 109, 77), 0.8),
		rgba(rgb(32, 30, 153), 0.8)),
		url('/images/emergencyPaediatricFirstAid.jpg');
}
#activitySyllabus {
	background-size: cover;
	background-position: top;
	background-image: linear-gradient(to left,
		rgba(rgb(138, 173, 157), 0.8),
		rgba(rgb(33, 32, 56), 0.8)),
		url('/images/activityFirstAid.jpg');
}
#juniorSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right bottom,
		rgba(rgb(33, 158, 102), 0.8),
		rgba(rgb(8, 7, 5), 0.8)),
		url('/images/junior.png');
}
#anaphylaxisSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right top,
		rgba(rgb(167, 164, 4), 0.8),
		rgba(rgb(8, 7, 5), 0.8)),
		url('/images/wasps.jpg');
}
#blsAedSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to left top,
		rgba(rgb(199, 197, 87), 0.8),
		rgba(rgb(32, 122, 167), 0.8)),
		url('/images/AED.jpg');
}
#cprBlsAedSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right,
		rgba(rgb(62, 124, 33), 0.8),
		rgba(rgb(167, 104, 32), 0.8)),
		url('/images/blsAed.jpg');
}
#bleedsSyllabus {
	background-size: cover;
	background-position: bottom;
	background-image: linear-gradient(to left,
		rgba(rgb(33, 47, 124), 0.7),
		rgba(rgb(177, 14, 14), 0.7)),
		url('/images/Bleeding.png');
}
#healthAndSafetySyllabus {
	background-size: cover;
	background-position: top;
	background-image: linear-gradient(to left,
		rgba(rgb(17, 110, 98), 0.7),
		rgba(rgb(21, 23, 54), 0.7)),
		url('/images/coatOfArms2.png');
}
#healthAndSafetyOneSyllabus {
	background-size: cover;
	background-position: top;
	background-image: linear-gradient(to top,
		rgba(rgb(26, 17, 110), 0.7),
		rgba(rgb(100, 29, 70), 0.7)),
		url('/images/healthAndSafetyone.jpg');
}
#healthAndSafetyTwoSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to top,
		rgba(rgb(146, 106, 31), 0.7),
		rgba(rgb(21, 23, 54), 0.7)),
		url('/images/healthAndSafetyTwo.jpg');
}
#manualHandlingSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to bottom,
		rgba(rgb(44, 14, 24), 0.7),
		rgba(rgb(44, 14, 24), 0.7)),
		url('/images/manualHandling.jpg');
}
#fireSyllabus {
	background-size: cover;
	background-position: top;
	background-image: linear-gradient(to bottom,
		rgba(rgb(151, 17, 12), 0.7),
		rgba(rgb(49, 1, 1), 0.7)),
		url('/images/fireSafety.jpg');
}
#mentalHealthOneSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right top,
		rgba(rgb(57, 56, 107), 0.7),
		rgba(rgb(90, 3, 3), 0.7)),
		url('/images/mentalHealth1.jpg');
}
#mentalHealthTwoSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to left top,
		rgba(rgb(90, 3, 3), 0.7),
		rgba(rgb(90, 3, 3), 0.7)),
		url('/images/mentalHealth2.jpg');
}
#mentalHealthThreeSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right bottom,
		rgba(rgb(141, 13, 8), 0.7),
		rgba(rgb(13, 43, 3), 0.7)),
		url('/images/mentalHealth3.jpg');
}
#foodSafetyOneSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right,
		rgba(rgb(39, 34, 34), 0.7),
		rgba(rgb(8, 1, 102), 0.7)),
		url('/images/foodSafetyOne.jpg');
}
#foodSafetyTwoSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right,
		rgba(rgb(77, 62, 62), 0.8),
		rgba(rgb(77, 62, 62), 0.8)),
		url('/images/foodSafetyTwo.jpg');
}
#safeGuardingSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right,
		rgba(rgb(7, 23, 97), 0.8),
		rgba(rgb(77, 62, 62), 0.8)),
		url('/images/safeGuarding.jpg');
}
#menuItem:hover {
	color: grey;
}
.menuItems {
	outline: none !important;
	padding: '1em' !important;
}
#orgSecHero {
	background-size: cover;
	background-position: top;
	background-image: linear-gradient(to right bottom,
		rgba(rgb(114, 20, 20), 0.7),
		rgba(rgb(24, 23, 70), 0.7)),
		url('/images/policeOfficer.jpg');
}
#orgSecOne {
	height: 30em;
	color: white;
	padding-top: 70%;
	text-align: center;
	margin-bottom: 2em;
	background-size: cover;
	background-position: top;
	background-image: linear-gradient(to right bottom,
		rgba(rgb(114, 20, 20), 0.5),
		rgba(rgb(24, 23, 70), 0.5)),
		url('/images/cctvCamera.jpg');
}
#orgSecTwo {
	height: 30em;
	color: white;
	padding-top: 65%;
	text-align: center;
	margin-bottom: 2em;
	background-size: cover;
	background-position: top;
	background-image: linear-gradient(to right bottom,
		rgba(rgb(114, 20, 20), 0.5),
		rgba(rgb(24, 23, 70), 0.5)),
		url('/images/lockdownRooms.jpg');
}
#orgSecThree {
	height: 30em;
	color: white;
	padding-top: 65%;
	text-align: center;
	margin-bottom: 2em;
	background-size: cover;
	background-position: top;
	background-image: linear-gradient(to right bottom,
		rgba(rgb(114, 20, 20), 0.5),
		rgba(rgb(24, 23, 70), 0.5)),
		url('/images/seriousIncidentTwo.jpg');
}
#lockdownQuestions {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right bottom,
		rgba(rgb(114, 20, 20), 0.65),
		rgba(rgb(24, 23, 70), 0.65)),
		url('/images/lockdownFence.jpg');
}
#lockdownOptionOne {
	height: 18em;
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right,
		rgba(rgb(114, 20, 20), 0.5),
		rgba(rgb(24, 23, 70), 0.5)),
		url('/images/policeTape.jpg');
}
#lockdownOptionTwo {
	height: 18em;
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right,
		rgba(rgb(114, 20, 20), 0.5),
		rgba(rgb(24, 23, 70), 0.5)),
		url('/images/emergencyResponseVehicle.jpg');
}
#lockdownOptionThree {
	height: 20em;
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right,
		rgba(rgb(114, 20, 20), 0.5),
		rgba(rgb(24, 23, 70), 0.5)),
		url('/images/fireLondon.jpg');
}
#lockdownOptionFour {
	height: 18em;
	background-size: cover;
	background-position: top;
	background-image: linear-gradient(to right,
		rgba(rgb(114, 20, 20), 0.5),
		rgba(rgb(24, 23, 70), 0.5)),
		url('/images/bombDisposal.jpg');
}
#gtsLogoHeader {
	margin: .5em;
}
#secAudit {
	height: 35em;
	background-size: cover;
	background-position: top;
	background-image: linear-gradient(to right,
		rgba(rgb(114, 20, 20), 0.5),
		rgba(rgb(24, 23, 70), 0.5)),
		url('/images/internetSecurity.jpg');
}
#terroristSICM {
	background-size: cover;
	background-position: top;
	background-image: linear-gradient(to left,
		rgba(rgb(114, 20, 20), 0.5),
		rgba(rgb(24, 23, 70), 0.5)),
		url('/images/terrorist.jpg');
}
#SICM2 {
	height: 21.5em;
	background-size: cover;
	background-position: bottom;
	background-image: linear-gradient(to right,
		rgba(rgb(114, 20, 20), 0.5),
		rgba(rgb(24, 23, 70), 0.5)),
		url('/images/SICM4.jpg');
}
#SICM3 {
	height: 21.5em;
	background-size: cover;
	background-position: bottom;
	background-image: linear-gradient(to left,
		rgba(rgb(114, 20, 20), 0.5),
		rgba(rgb(24, 23, 70), 0.5)),
		url('/images/SICM3.jpg');
}
#SICM4 {
	height: 28.5em;
	background-size: cover;
	background-position: bottom;
	background-image: linear-gradient(to right,
		rgba(rgb(114, 20, 20), 0.5),
		rgba(rgb(24, 23, 70), 0.5)),
		url('/images/SICM2.jpg');
}
#SICM5 {
	height: 17.5em;
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right,
		rgba(rgb(114, 20, 20), 0.5),
		rgba(rgb(24, 23, 70), 0.5)),
		url('/images/SICM6.jpg');
}
#SICM6 {
	height: 25.4em;
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to left,
		rgba(rgb(114, 20, 20), 0.5),
		rgba(rgb(24, 23, 70), 0.5)),
		url('/images/SICM8.jpg');
}
#SICM7 {
	height: 18.5em;
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right,
		rgba(rgb(114, 20, 20), 0.5),
		rgba(rgb(24, 23, 70), 0.5)),
		url('/images/SICM9.jpg');
}