@import "components/header";
@import "components/footer";

body {
  font-family: 'Poppins', sans-serif;
}

#heroHome {
  background-image: linear-gradient(to right bottom,
    rgba(#2998ff, 0.8),
    rgba(#5643fa, 0.8)),
    url('/images/CPR_training-06.jpg');
  background-size: cover;
}