body {
	font-family: 'Poppins', sans-serif;
}
#heroHome {
	min-height: 65vh;
	padding: 1em 0em;
	background-size: cover;
	background-image: linear-gradient(to right bottom,
		rgba(#39a70e, 0.8),
		rgba(#2998ff, 0.8)),
		url('/images/CPR_training-06.jpg');
}
#comOne {
	background-size: cover;
	background-position: bottom;
	background-image: linear-gradient(to right bottom,
		rgba(rgb(161, 110, 15), 0.8),
		rgba(rgb(199, 47, 47), 0.8)),
		url('/images/businessMeeting.jpg');
}
#comTwo {
	background-size: cover;
	background-image: linear-gradient(to right bottom,
		rgba(rgb(236, 206, 31), 0.8),
		rgba(rgb(236, 206, 31), 0.8));
}
#comThree {
	background-size: cover;
	background-image: linear-gradient(to right bottom,
		rgba(rgb(62, 172, 40), 0.9),
		rgba(rgb(62, 172, 40), 0.9)),
		url('/images/classRoom.jpg');
}
#comFour {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right bottom,
		rgba(rgb(0, 0, 0), 0.7),
		rgba(rgb(0, 0, 0), 0.7)),
		url('/images/HMS_Dragon.jpg');
}
#compHero {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right bottom,
		rgba(rgb(114, 20, 20), 0.5),
		rgba(rgb(24, 23, 70), 0.5)),
		url('/images/Palace_of_Westminster.jpg');
}
#faawSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right top,
		rgba(rgb(78, 65, 65), 0.9),
		rgba(rgb(78, 65, 65), 0.9)),
		url('/images/faaw1.jpg');
}
#emergencyFaawSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to left bottom,
		rgba(rgb(53, 64, 109), 0.8),
		rgba(rgb(219, 17, 17), 0.8)),
		url('/images/faaw2.jpg');
}
#faawRequal {
	background-size: cover;
	background-position: bottom;
	background-image: linear-gradient(to right top,
		rgba(rgb(0, 119, 4), 0.8),
		rgba(rgb(0, 119, 4), 0.8)),
		url('/images/faaw3.jpg');
}
#complianceSpacer {
	background-size: cover;
	background-position: bottom;
	background-image: linear-gradient(to bottom,
		rgba(rgb(7, 7, 7), 0.9),
		rgba(rgb(196, 196, 196), 0.2)),
		url('/images/House_of_Commons_Chamber.png');
}
#paediatricSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right,
		rgba(rgb(131, 122, 45), 0.8),
		rgba(rgb(99, 4, 56), 0.8)),
		url('/images/paediatricFirstAid.jpg');
}
#emergencyPaediatricSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to left,
		rgba(rgb(41, 109, 77), 0.8),
		rgba(rgb(32, 30, 153), 0.8)),
		url('/images/emergencyPaediatricFirstAid.jpg');
}
#activitySyllabus {
	background-size: cover;
	background-position: top;
	background-image: linear-gradient(to left,
		rgba(rgb(138, 173, 157), 0.8),
		rgba(rgb(33, 32, 56), 0.8)),
		url('/images/activityFirstAid.jpg');
}
#juniorSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right bottom,
		rgba(rgb(33, 158, 102), 0.8),
		rgba(rgb(8, 7, 5), 0.8)),
		url('/images/junior.png');
}
#anaphylaxisSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right top,
		rgba(rgb(167, 164, 4), 0.8),
		rgba(rgb(8, 7, 5), 0.8)),
		url('/images/wasps.jpg');
}
#blsAedSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to left top,
		rgba(rgb(199, 197, 87), 0.8),
		rgba(rgb(32, 122, 167), 0.8)),
		url('/images/AED.jpg');
}
#cprBlsAedSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right,
		rgba(rgb(62, 124, 33), 0.8),
		rgba(rgb(167, 104, 32), 0.8)),
		url('/images/blsAed.jpg');
}
#bleedsSyllabus {
	background-size: cover;
	background-position: bottom;
	background-image: linear-gradient(to left,
		rgba(rgb(33, 47, 124), 0.7),
		rgba(rgb(177, 14, 14), 0.7)),
		url('/images/Bleeding.png');
}
#fireSyllabus {
	background-size: cover;
	background-position: top;
	background-image: linear-gradient(to top,
		rgba(rgb(184, 21, 16), 0.7),
		rgba(rgb(90, 3, 3), 0.7)),
		url('/images/fireSafety.jpg');
}