#faawSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right top,
		rgba(rgb(78, 65, 65), 0.9),
		rgba(rgb(78, 65, 65), 0.9)),
		url('/images/faaw1.jpg');
}
#emergencyFaawSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to left bottom,
		rgba(rgb(53, 64, 109), 0.8),
		rgba(rgb(133, 42, 42), 0.8)),
		url('/images/faaw2.jpg');
}
#faawRequal {
	background-size: cover;
	background-position: bottom;
	background-image: linear-gradient(to right top,
		rgba(rgb(0, 56, 2), 0.8),
		rgba(rgb(0, 56, 2), 0.8)),
		url('/images/faaw3.jpg');
}