#foodSafetyOneSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right,
		rgba(rgb(39, 34, 34), 0.7),
		rgba(rgb(8, 1, 102), 0.7)),
		url('/images/foodSafetyOne.webp');
}
#foodSafetyTwoSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right,
		rgba(rgb(77, 62, 62), 0.8),
		rgba(rgb(77, 62, 62), 0.8)),
		url('/images/foodSafetyTwo.webp');
}