#mentalHealthOneSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right top,
		rgba(rgb(57, 56, 107), 0.7),
		rgba(rgb(90, 3, 3), 0.7)),
		url('/images/mentalHealth1.webp');
}
#mentalHealthTwoSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to left top,
		rgba(rgb(90, 3, 3), 0.7),
		rgba(rgb(90, 3, 3), 0.7)),
		url('/images/mentalHealth2.webp');
}
#mentalHealthThreeSyllabus {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right bottom,
		rgba(rgb(141, 13, 8), 0.7),
		rgba(rgb(13, 43, 3), 0.7)),
		url('/images/mentalHealth3.webp');
}