#terroristSICM {
	min-height: 18em;
	max-height: 100%;
	background-size: cover;
	background-position: top;
	background-image: linear-gradient(to left,
		rgba(rgb(114, 20, 20), 0.5),
		rgba(rgb(24, 23, 70), 0.5)),
		url('/images/terrorist.webp');
}
#SICM2 {
	min-height: 18em;
	max-height: 100%;
	background-size: cover;
	background-position: bottom;
	background-image: linear-gradient(to right,
		rgba(rgb(114, 20, 20), 0.5),
		rgba(rgb(24, 23, 70), 0.5)),
		url('/images/SICM4.webp');
}
#SICM3 {
	min-height: 18em;
	max-height: 100%;
	background-size: cover;
	background-position: bottom;
	background-image: linear-gradient(to left,
		rgba(rgb(114, 20, 20), 0.5),
		rgba(rgb(24, 23, 70), 0.5)),
		url('/images/SICM3.webp');
}
#SICM4 {
	min-height: 18em;
	max-height: 100%;
	background-size: cover;
	background-position: bottom;
	background-image: linear-gradient(to right,
		rgba(rgb(114, 20, 20), 0.5),
		rgba(rgb(24, 23, 70), 0.5)),
		url('/images/SICM2.webp');
}
#SICM5 {
	min-height: 18em;
	max-height: 100%;
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right,
		rgba(rgb(114, 20, 20), 0.5),
		rgba(rgb(24, 23, 70), 0.5)),
		url('/images/SICM6.webp');
}
#SICM6 {
	min-height: 18em;
	max-height: 100%;
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to left,
		rgba(rgb(114, 20, 20), 0.5),
		rgba(rgb(24, 23, 70), 0.5)),
		url('/images/SICM8.webp');
}
#SICM7 {
	min-height: 18em;
	max-height: 100%;
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to right,
		rgba(rgb(114, 20, 20), 0.5),
		rgba(rgb(24, 23, 70), 0.5)),
		url('/images/SICM9.webp');
}